/node_modules
/nginx
/conf
/sandbox/app/custom
/sandbox/admin/views/modules/head.html
/sandbox/views/modules/head.html
/img/favicon
note
init
restart
.DS_Store
sftp-config.json
*.sublime-project
*.sublime-workspace