/node_modules
/nginx
/conf
/sandbox/app/custom
/sandbox/admin/views/modules/head.html
/sandbox/views/modules/head.html
/sandbox/modules/custom
/img/favicon
/img/content
/img/ext
/img/files
/img/ui
note
init
restart
.DS_Store
*.sublime-project
*.sublime-workspace
xfs-config.json