<div id="home">
	<div class="manage">
		<div class="n">Functions</div>
		<div class="list">
			
			<div class="item" data-type="sprites">
				<div class="info">
					<div class="n">Rebuild UI Sprites</div>
				</div>
				<div class="go" data-btn>Go</div>
			</div>
			
			<div class="item" data-type="deploy">
				<div class="info">
					<div class="n">Deploy New Production's version</div>
				</div>
				<div class="go" data-btn>Go</div>
			</div>
			
			<div class="item" data-type="refreshURLs">
				<div class="info">
					<div class="n">Refresh URLs</div>
					<div class="d">If you changed language prefixes</div>
				</div>
				<div class="go" data-btn>Go</div>
			</div>

		</div>
	</div>
</div>