<div id="i18n" data-lang="{lang}">
	<div class="languages">
		{languages}
	</div>
	<!-- div class="add">
		<div class="open" data-btn>
			<div>+ Add Root Node</div>
		</div>
		<div class="wrap">
			<form>
				<input type="text" />
				<button type="submit" data-btn>Add</button>
				<div class="cancel" data-btn data-sub>Cancel</div>
			</form>
		</div>
	</div>
	<form>
		{list}
		<div class="fn">
			<div class="wrap">
				<button type="submit" data-btn>Save</button>
			</div>
		</div>
	</form -->
	<form>
		<div class="fn">
			<button type="submit" data-btn>Save</button>
		</div>
		<textarea>{data}</textarea>
		<div class="fn">
			<button type="submit" data-btn>Save</button>
		</div>
	</form>
</div>