#i18n {
	padding: 0 0 60px 0;
	>.languages {
		display: flex;
		align-items: stretch;
		padding: 0 20px;

		>a {
			margin-right: 2px;
			text-decoration: none;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	>.add {
		max-width: 420px;
		padding: 20px;

		>.open {
		}

		>.wrap {
			box-sizing: border-box;
			display: none;
			padding: 20px;
			border-radius: 6px;
			background: $gWhite;
			border: 0;

			>form {
				display: flex;
				align-items: stretch;

				>input {
					margin-right: 6px;
				}

				>button {
					margin-right: 6px;
				}
			}
		}
	}

	>form {
		padding: 20px;
		textarea {
			max-width: 620px;
			min-height: 70vh;
		}
	}

	/*
	>form {
		margin-top: 10px;
		max-width: 780px;

		.list {
			display: none;
			margin: 1px;
			padding: 0 0 20px 20px;

			>.item {
				margin-top: 1px;
				transition: padding .6s;

				>.info {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 12px;
					border-radius: 3px;
					background: $white;

					>.i {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 40px;
						height: 40px;
						border-radius: 50%;
						transition: background .5s, transform 1s;
						cursor: pointer;

						&:after {
							content: "";
							display: block;
							width: 40px;
							height: 40px;
							background: $darkBlue;
							mask: url(/ui.svg#plus) no-repeat center center/12px;
							transition: transform .6s, background .5s;
						}

						&.hover {
							background: $fadeBlue;
							transition: background .2s, transform 1s;
							&:after {
								background: $white;
								transition: transform .6s, background .2s;
							}
						}
					}

					>.n {
						flex: 1;
						padding: 8px 14px;
						text-transform: capitalize;
					}

					>.fn {
						display: flex;
						align-items: center;

						>.btn {
							margin-left: 10px;
						}
					}
				}

				>input, >textarea {
					margin-top: 3px;
				}

				&:nth-child(even) {
					>.info {
						background: $evenRow;
					}
				}

				&.endPoint {
					padding: 20px;
					border-radius: 3px;
					background: $white;

					>.info {
						background: transparent;
						padding: 0;

						>.i {
							display: none;
						}
						>.n {
							padding: 0;
							font-size: 14px;
						}
					}
				}

				&.open {
					padding: 10px 0;

					>.info {
						>.i {
							&:after {
								transform: rotate(-45deg);
							}
						}
					}
				}
			}

			&:first-child {
				display: block;
			}
		}

		>.fn {
			position: fixed;
			right: 0;
			bottom: 0;
			left: 320px;
			background: $white;
			>.wrap {
				padding: 20px;
			}
		}
	}
	*/
}