#page {
	>form {
		max-width: 720px;

		>.settings {
			padding: 20px;

			>.tit {
				>.n {
					font-size: 22px;
					font-weight: bold;
				}

				>.d {
					font-size: 12px;
					color: $gray;
				}
			}

			>.fields {
				margin-top: 10px;
				padding: 10px 20px;
				border-radius: 3px;
				background: $white;

				>.item {
					padding: 10px 0;
				}
			}
		}

		>.types {
			padding: 20px;

			>.tit {
				display: flex;
				align-items: center;
				>.info {
					>.n {
						font-size: 22px;
						font-weight: bold;
					}

					>.d {
						font-size: 12px;
						color: $gray;
					}
				}

				>.fn {
					display: flex;
					align-items: center;

					>[data-btn] {
						margin-left: 10px;
						padding: 6px 8px;
						font-size: 12px;
					}
				}
			}

			>.list {
				margin-top: 10px;
				padding: 1px;
				border-radius: 3px;
				background: $white;

				>.item {
					display: none;
					padding: 10px;
					cursor: pointer;
					transition: background .5s;

					>.n {
						font-size: 16px;
						font-weight: bold;
					}
					>.d {
						font-size: 12px;
						color: $gray;
					}

					&.hover {
						background: $fadedBlue;
						transition: background .2s;
					}

					&.active {
						display: block;
					}
				}
			}

			&.opened {
				>.list {
					>.item {
						&.active {
							background: $green;
						}
					}
				}
			}
		}

		>.block {
			padding: 20px;

			>.tit {
				>.n {
					font-size: 22px;
					font-weight: bold;
				}

				>.d {
					font-size: 12px;
					color: $gray;
				}
			}

			>.fields {
				margin-top: 10px;
				padding: 10px 20px;
				border-radius: 3px;
				background: $white;

				>label {
					display: block;
					padding: 10px 0;

					>.n {
						position: relative;
						display: inline-block;
						font-size: 16px;
						font-weight: bold;

						>.count {
							position: absolute;
							bottom: calc(100% - 8px);
							left: calc(100% + 4px);
							font-size: 10px;
							font-weight: normal;
							color: $gray50;
						}
					}

					>.d {
						font-size: 12px;
						color: $gray;
					}

					>input, >textarea {
						margin-top: 6px;
					}
				}
			}

			>.fn {
				margin-top: 10px;
			}
		}

		>.content {
			padding: 20px;

			>.tit {
				>.n {
					font-size: 22px;
					font-weight: bold;
				}

				>.d {
					font-size: 12px;
					color: $gray;

					a {
						padding: 4px 8px;
						background: $black;
						border-radius: 2px;
						color: $white;
						text-decoration: none;
					}
				}
			}

			>textarea {
				margin-top: 10px;
				max-width: 720px;
				min-height: 320px;
			}
		}
	}
}