#pages {
	>.languages {
		display: flex;
		align-items: stretch;
		padding: 0 20px;

		>a {
			margin-right: 2px;
			text-decoration: none;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	>.add {
		max-width: 420px;
		padding: 20px;

		>.open {
		}

		>.wrap {
			box-sizing: border-box;
			display: none;
			padding: 20px;
			border-radius: 6px;
			background: $gWhite;
			border: 0;

			>form {
				display: flex;
				align-items: stretch;

				>input {
					margin-right: 6px;
				}

				>button {
					margin-right: 6px;
				}
			}
		}
	}

	>.list {
		max-width: 720px;
		padding: 0 20px;

		>.empty {
			font-size: 18px;
			font-weight: bold;
		}

		.item {
			position: relative;
			padding: 2px 0;
			
			>.page {
				display: flex;
				align-items: center;
				justify-content: space-between;

				padding: 12px;
				border-radius: 6px;
				background: $white;
				transition: background .5s;

				>a{
					flex: 1;
					display: block;
					color: $black;
					text-decoration: none;

					>.n {
						display: block;
						font-size: 16px;
						transition: color .6s;
					}

					>.l {
						display: block;
						font-size: 10px;
						color: $grayBlue;
					}

					>.u {
						display: block;
						font-size: 10px;
						color: $grayBlue;
					}

					&.hover {
						>.n {
							color: $fadeBlue;
							transition: color .1s;
						}
					}
				}

				>.fn {
					display: flex;
					align-items: stretch;
					>[data-btn] {
						margin-left: 4px;
						background: $gray10;
						font-size: 12px;
						color: $gray50;
						transition: background .6s, color .6s;

						&.hover {
							background: $grayBlue;
							color: $white;
							transition: background .1s, color .1s;
						}
					}
				}

				&.hover {
					background: #f6fbfd;
					transition: background .1s;
				}

				&.dragover {
					background: $green;
					>a {
						>.n {
							color: $black;
						}
					}
				}
			}

			>.add {
				display: none;

				>form {
					margin-top: 2px;
					display: flex;
					align-items: center;
					padding: 20px;
					border-radius: 3px;
					background: $white;

					>input {
						margin-right: 6px;
					}
					>button {
						margin-right: 6px;
					}
				}
			}

			>.pages {
				padding: 0 0 40px 40px;
			}

			&:before {
				content: "►";
				position: absolute;
				left: -10px;
				display: flex;
				align-items: center;
				width: 20px;
				height: 20px;
				transform: translate3d(-10px,-50%,0);
				opacity: 0;				
			}
			&[data-position="inside"]:before {
				opacity: 1;
				top: 47px;
				transform: translate3d(-5px,-50%,0);
				transition: top .5s, transform .5s, opacity .5s;
			}

			&[data-position="before"]:before {
				opacity: 1;
				top: 0;
				transform: translate3d(0,-50%,0);
				transition: top .5s, transform .5s, opacity .5s;
			}

			&[data-position="after"]:before {
				opacity: 1;
				top: 100%;
				transform: translate3d(0,-50%,0);
				transition: top .5s, transform .5s, opacity .5s;
			}
		}
	}
}