*{-webkit-tap-highlight-color: rgba(0,0,0,0);}

$font: "Helvetica", "Arial", "Verdana", sans-serif;
$backWhite: #ebeff1;
$gWhite: #ffffff;
$white: #fcfcfc;
$black: #171717;
$grayBlue: #2a363c;
$fadeBlue: #607d8b;
$green: #8bc34a;
$darkBlue: #242a33;
$evenRow: #f5f7f9;

$gray: #565656;
$lightGray: #cccccc;

html{width: 100%; height: 100%;}
body{
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	font-family: $font;
	font-size: 14px;
	width: 100%; height: 100%;
	margin: 0px; padding: 0px;
	background: $backWhite;
	color: $black;
	-webkit-font-smoothing: antialiased;
}
a{outline: none;}
input, select, textarea, button{
	-webkit-appearance: none; outline: none;
	font-family: $font;
	font-size: 15px;
}
input, textarea {
	box-sizing: border-box;
	width: 100%;
	max-width: 420px;
	padding: 8px 12px;
	border-radius: 3px;
	border: 1px solid $lightGray;
	transition: border-color .5s;
}
textarea {
	min-height: 120px;
}
input:focus,
textarea:focus{
	border-color: $black;
}

#view {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	min-height: 100%;
}

[data-btn] {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 8px 12px;
	border: 0;
	border-radius: 3px;
	background: $black;
	font-size: 14px;
	color: $white;
	cursor: pointer;
	transition: background .5s, color .5s;

	&[data-sub] {
		background: $lightGray;
		color: $black;
	}

	&.hover {
		background: $fadeBlue;
		color: $white;
		transition: background .2s, color .2s;
	}
	&.active {
		background: $fadeBlue;
	}

}

.switch {
	display: flex;
	align-items: center;
	cursor: pointer;

	>.touch {
		margin-right: 10px;
		position: relative;
		width: 34px;
		height: 18px;
		padding: 1px;
		border-radius: 30px;
		background: $lightGray;
		transition: background .5s;

		&:after {
			content: "";
			display: block;
			width: 18px;
			height: 18px;
			border-radius: 24px;
			background: $white;
			transform: translate3d(0,0,0);
			transition: transform .5s;
		}
	}

	>.n {

	}

	&.selected {
		>.touch {
			background: $green;
			&:after {
				transform: translate3d(16px,0,0);
			}
		}
	}
}

@import "notify";
@import "aside";
@import "content";
@import "content/home";
@import "content/pages";
@import "content/pages.types";
@import "content/pages.item";
@import "content/i18n";