#aside {
	flex: 0 0 300px;
	padding: 10px;
	background: $darkBlue;
	text-align: right;

	display: flex;
	flex-direction: column;
	align-items: flex-end;

	>.logo {
		display: block;
		color: $white;
		text-decoration: none;

		>.n {
			display: block;
			font-size: 52px;
			font-weight: normal;
		}

		>.d {
			display: block;
			font-size: 12px;
		}
	}

	>.block {
		margin: 10px 0;
		box-sizing: border-box;
		width: 100%;
		max-width: 180px;
		padding: 20px;
		background: $darkestBlue;

		>.n {
			font-size: 12px;
			color: $lightYellow;
		}

		>.list {
			>.item {
				>a {
					display: block;
					padding: 6px 0;
					font-size: 16px;
					color: $white;
					text-decoration: none;
					transition: opacity .5s;

					&.hover{
						opacity: .6;
						transition: opacity .2s;
					}
					&.active {
						color: $yellow;
						opacity: 1;
					}
				}

				>.sub {
					padding-bottom: 20px;
					>a {
						display: block;
						padding: 3px 0;
						font-size: 12px;
						color: $black;
						text-decoration: none;
					}
				}
			}
		}
	}
}